.NavbarItems{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: none;
    width: 100%;
    height: 64px;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    z-index: 9999;
    border-bottom: 1px solid #e5e7eb;
}

.logo{
    width: 150px;
}

.nav-menu{
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}


.nav-links:hover{
    background-color: #019a3c;
    color: #fff;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
    
}

.nav-links-mobile{
    display: none;
}
